/2022-MUSI6106-cppcheck-build-dir
/2022-MUSI6106.cppcheck
/3rdparty/googletest/bld/.vs/googletest-distribution/v17
/3rdparty/googletest/bld
/3rdparty/sndlib/autom4te.cache
/*.bak
/bin/Debug
/bld/.vs/MUSI6106
/bld/.vs
/bld
/lib/Debug
/src/*.bak
/src/inc/*.bak
/inc/*.bak
/src/AudioFileIO/*.bak
/src/CombFilter/*.bak
/src/MUSI6106Exec/*.bak
/src/Tests/TestExec/*.bak
/src/Tests/Tests/*.bak
*.DS_Store
